/*===================================*/
/* End Typography */

.stack-dark {
  background-color: #000;
}
.stack-accent {
  background-color: #ffe600;
}
/*page page */

.page {
  text-align: center;
}

.page-title {
  font-size: 3rem;
}
.page-title-accent {
  height: 1em;
  width: 10em;
}
.page-pitch {
  font-weight: 700;
  margin: 0;
}

.page-seperator {
  width: 6em;
  margin: 0 auto;
  border-bottom: 1px #000 solid;
}

.main-image {
  box-shadow: 5px 5px 0px black, 10px 10px 0 #ffe600;
}
.about-detail {
  margin: 3em 0;
}
@media (min-width: 800px) {
  .about-detail {
    margin: 0 0 6em;
  }
}
.about-detail-title {
  margin-top: 2em;
}
.about-detail-title:first-child {
  margin-top: 0;
}
.about-detail-title .article-title-underline {
  margin: initial;
}
/* End Typography */
/*===================================*/
/*===================================*/
/* Layout */

/* page page */

.page {
  margin: 3em 0 3em;
}
.page *,
.page-details * {
  grid-column: 2 / -2;
}

@media (min-width: 800px) {
  .page {
    margin: 3em 0 6em;
  }
  .page * {
    grid-column: 3 / -3;
  }
  .page-details {
    grid-template-columns:
      minmax(1em, 1fr)
      repeat(3, minmax(120px, 320px))
      minmax(1em, 1fr);
    column-gap: 4em;
    grid-template-areas: ". image content content .";
  }
  .image-stack {
    grid-area: image;
  }
  .about-detail {
    grid-area: content;
  }
}
/* End Layout */
/*===================================*/
