/*===================================*/
/* Typography */

.stack-dark {
  background-color: #000;
}
.stack-accent {
  background-color: #ffe600;
}
/* template page */

.page {
  text-align: center;
}

.page-title {
  font-size: 3rem;
  justify-self: center;
  margin-bottom: 0.25em;
}

.page-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  margin-top: -40px;
  margin-left: 10px;
  background-color: #ffe600;
}
.page-title-accent {
  height: 1em;
  width: 10em;
}
.page-pitch {
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.page-seperator {
  width: 6em;
  margin: 0 auto;
  border-bottom: 1px #000 solid;
  margin-bottom: 3em;
}

.main-image {
  margin-bottom: 2em;
  box-shadow: 5px 5px 0px black, 10px 10px 0 #ffe600;
}

.article-content {
  margin: 3em 0;
}
@media (min-width: 800px) {
  .article-content {
    margin: 0 0 6em;
  }
}

/* About page */
.about-detail-title {
  margin-top: 2em;
}
.about-detail-title:first-child {
  margin-top: 0;
}
.about-detail-title .h2-title-underline-underline {
  margin: initial;
}
/*===================================*/
/* End Typography */
/*===================================*/

/*===================================*/
/* Layout */
/*===================================*/
/* template page */

.page {
  margin: 3em 0 3em;
}
.page * {
  grid-column: 2 / -2;
}

@media (min-width: 800px) {
  .page {
    margin: 3em 0 6em;
  }
  .image-stack {
    grid-column: 2 / span 2;
  }

  .about-contents {
    grid-column: 4 / -2;
    margin-left: 4em;
  }
}

/* Form */

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 700;
}
input {
  margin-bottom: 2em;
  line-height: 2em;
}

.submit-form {
  justify-self: self-end;
}

@media (min-width: 800px) {
  .contact-secondary {
    grid-column: 2 / span 2;
  }
  .contact-primary {
    grid-column: 4 / -2;
    margin-left: 4em;
    order: 1;
  }
}

/* End Layout */
/*===================================*/
