/*  Fonts
-----
font-family: 'Source sans Pro', serif;
*/

/* Colors :
    #F18119
    #404040
    #FFF
    Gradient : FF713B > FFA51D
*/
/*===================================*/
/* Must have CSS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  min-width: 300px;
  color: #fff;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

h1,
h2,
strong,
a {
  font-weight: 700;
}

.theme-color-light {
  color: #fff;
}
.theme-color-dark {
  color: #000;
}
.theme-bg-light {
  background-color: #fff;
}
.theme-bg-dark {
  background-color: #000;
}
.theme-color-accent {
  color: #ffe600;
}
.theme-bg-accent {
  background-color: #ffe600;
}
.theme-bb-accent {
  border-bottom: 2px solid #ffe600;
}
.theme-bb-accent:hover {
  border-bottom: 2px solid #fff;
}
/* End - Must have CSS */
/*===================================*/

/*===================================*/
/* Typography */

/* General Typography */

h1,
h2 {
  margin: 0;
}
h1,
.logo-accent,
.logo-light {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.125rem;
  margin-bottom: 0;
  text-align: left;
}
h2::after {
  content: "";
  display: block;
  width: 4rem;
  height: 2px;
  background-color: #ffe600;
  margin-top: 0.25em;
}
.h2-title-underline-center {
  text-align: center;
}
.h2-title-underline-center::after {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1400px) {
  h1,
  .logo-accent,
  .logo-light {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.125rem;
  }
}
p {
  color: #404040;
  text-align: left;
}

a,
a i {
  transform: scale(1);
  transition: transform 500ms;
}

a:hover,
a:focus,
a:active,
a i:hover,
a i:focus,
a i:active {
  transform: scale(1.1);
}

a:hover,
a:focus {
  color: #ffe600;
  background-color: #000;
}

.btn {
  border: 0;
  display: inline-block;
  border-radius: 2px;
  padding: 0.5em 1.75em;
  transform: scale(1);
  transition: transform 500ms;
  cursor: pointer;
  text-decoration: none;
  justify-self: start;
}

.btn:hover,
.btn:focus,
.btn:active {
  transform: scale(1.1);
  outline: none;
  box-shadow: 0 0 0 1px rgb(187, 172, 41), 0 0 0 0.1rem hsl(59, 100%, 49%);
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: #000;
}

/* Header */
nav {
  text-align: center;
}
.close-nav i:hover,
.close-nav i:focus,
.close-nav i:active {
  color: #ffe600;
}

.nav-link {
  margin-top: 2em;
  line-height: 3rem;
  text-decoration: none;
  font-weight: 700;
}

.nav-link,
a {
  text-transform: lowercase;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  transform: scale(1.5);
}

@media (min-width: 600px) {
  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    transform: scale(1.2);
  }
}
.current-page {
  padding-bottom: 0.25rem;
}
.current-page:hover {
  color: #ffe600;
}

/* Hero */

.hero-title + p {
  letter-spacing: 1;
}

/* Skills */
.article-description {
  text-align: center;
}
.article-description:last-child {
  margin-bottom: 0;
}

/* Footer */
footer {
  background-color: #ebebeb;
  text-align: center;
}
.social-link {
  color: #000;
  font-size: 2em;
  margin: 0 0.25em;
}
.social-link:hover,
.social-link:active,
.social-link:focus {
  color: #ffe600;
  border-radius: 10em;
  padding: 5px 10px;
}

.copyright {
  font-size: 0.625rem;
}

/* End Typography */
/*===================================*/

/*===================================*/
/* Layout */

/* General layout */
.main-grid {
  display: grid;
  /* 
    3 columns where 
      => col 1 size is 1em to 1fr
      => col 2 size is 0 to 500px
      => col 3 size is 1em to 1fr
  */
  grid-template-columns: minmax(1em, 1fr) minmax(0px, 800px) minmax(1em, 1fr);
}

@media (min-width: 600px) {
  .main-grid {
    grid-template-columns:
      minmax(1em, 1fr)
      /*Why 3? Because we have 3 skills !*/
      repeat(3, minmax(145px, 320px))
      minmax(1em, 1fr);
    column-gap: 2em;
  }
}

@media (min-width: 800px) {
  .main-grid {
    grid-template-columns:
      minmax(5em, 1fr)
      repeat(6, minmax(95px, 200px))
      minmax(5em, 1fr);
    column-gap: 1em;
  }
}

/* Header */
header > * {
  grid-column: 2 / -2;
  justify-items: start;
}

.header-home {
  position: absolute;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-accent {
  height: 3em;
  display: flex;
  align-items: flex-end;
}
.logo-accent a {
  text-decoration: none;
  text-transform: capitalize;
}
/* Navigation */

nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 1000%;
  transform: translateX(0);
  transition: transform 250ms;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.toggle-nav {
  justify-self: flex-end;
  align-self: center;
}

.close-nav {
  align-self: start;
  padding: 1em;
  grid-column: 1 / span 1;
}
.toggling-nav {
  transform: translateX(-1000%);
}

.closing-nav {
  transform: translateX(100%);
  transition-duration: 0.5s;
  transition-property: transform;
}

@media (min-width: 600px) {
  .header-home,
  .header-home nav {
    background-color: transparent;
  }

  .toggle-nav,
  .close-nav {
    display: none;
  }

  .nav-list {
    position: initial;
    top: initial;
    bottom: initial;
    right: initial;
    left: initial;
    flex-direction: row;
    justify-content: flex-start;
  }

  .nav-link {
    margin-top: 0;
    margin-left: 2em;
  }
}

/* Hero */
.hero {
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 8em 0 4em;
}

@media (max-width: 400px) {
  .hero {
    background-image: none;
    background-color: #000;
  }
}
@media (min-width: 600px) {
  .hero {
    padding: 8em 0 4em;
  }
}

@media (min-width: 1400px) {
  .hero {
    padding: 12em 0 8em;
  }
}

.hero > * {
  /* Centers the content of hero into the middle column */
  grid-column: 2 / -2;
}

@media (min-width: 400px) {
  .hero > * {
    margin-right: 20%;
  }
}
@media (min-width: 600px) {
  .hero > * {
    grid-column: 2 / span 2;
  }
}

@media (min-width: 800px) {
  .hero > * {
    grid-column: 2 / span 4;
  }
}

/* Skills */
.skills {
  padding: 4em 0;
  text-align: center;
}

.skill {
  grid-column: 2 / -2;
  margin-bottom: 2em;
}

.skill:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .skills {
    padding: 6em 0;
  }
  .skill {
    grid-column: span 1;
  }
  .skill:first-child {
    /*Skip for the first skill the first column */
    grid-column: 2 / span 1;
  }
}

@media (min-width: 800px) {
  .skill {
    grid-column: span 2;
  }
  .skill:first-child {
    /*Skip for the first skill the first column */
    grid-column: 2 / span 2;
  }
}

/* Footer */

footer {
  grid-template-areas:
    ". social ."
    ". main .";
  padding: 2em 0;
  text-align: center;
}

@media (min-width: 600px) {
  footer {
    grid-template-areas: ". main main social .";
    padding: 6em 0;
  }
}
@media (min-width: 800px) {
  footer {
    grid-template-areas: ". main main main main social .";
  }
}
.footer-main {
  grid-area: main;
}
@media (min-width: 600px) {
  .footer-main {
    text-align: left;
  }
}
.social-links {
  grid-area: social;
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .social-links {
    justify-self: end;
  }
}
@media (min-width: 800px) {
  .social-links {
    grid-column: span 2;
  }
}

/* End Layout */
/*===================================*/
