/*  Fonts
-----
font-family: 'Source sans Pro', serif;
*/

/* Colors :
    #F18119
    #404040
    #FFF
    Gradient : FF713B > FFA51D
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Blinker", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  min-width: 300px;
  color: #000;
  background-color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

.theme-color-light {
  color: #05cbe9;
}
.theme-bg-light {
  background-color: #05cbe9;
}
.theme-bg-dark {
  background-color: #111d4a;
}
.theme-color-dark {
  color: #111d4a;
}

/* Typography */
h2 {
  font-size: 1.625rem;
  margin: 0;
}
p {
  line-height: 1.6;
  color: #fff;
}
a {
  text-decoration: none;
  font-weight: 700;
  margin: 0;
}

hr {
  outline: none;
  margin: 2rem 0;
}
.card-title,
.card-body,
.read-time,
.read-more {
  margin: 1rem;
}

.read-time {
  line-height: 1.2;
}
.read-time-value {
  font-size: 2rem;
  font-weight: 900;
}
.card-btn {
  border-radius: 2px;
  padding: 0.625em 2em;
  transform: scale(1);
  transition: transform 500ms;
  cursor: pointer;
}
.card-btn:hover,
.card-btn:focus,
.card-btn:active {
  transform: scale(1.1);
  outline: none;
  box-shadow: 0 0 0 1px rgb(59, 37, 255),
    0 0 0 0.3rem hsla(216, 100%, 79%, 0.75);
}

@media (min-width: 600px) {
  h2 {
    font-size: 2.25rem;
  }
  p,
  a {
    font-size: 1.4rem;
  }
  .read-time-value {
    font-size: 2.25rem;
  }
}

/* End Typography */

/* Layout */
article {
  margin: 0 auto;
  display: grid;
  grid-template: 200px auto auto 100px / auto auto;
}
/*  */
.card-tile {
  max-width: 800px;
  margin-bottom: 2rem;
}
.card-image {
  object-fit: cover;
  grid-column: 1 / -1;
  width: 100%;
  height: 100%;
}

.card-title {
  grid-column: 1 / -1;
}
.card-body {
  grid-column: 1 / -1;
}

.read-time {
  align-self: end;
}
.read-more {
  align-self: end;
  justify-self: end;
}
@media (min-width: 600px) {
  article {
    grid-template: auto auto auto / 200px auto auto;
  }

  .card-image {
    grid-column: span 1;
    grid-row: 1 / -1;
  }
  .card-title,
  .card-body {
    grid-column: 2 / -1;
  }
}

/* @media (min-width: 800px) {
  .card-tile {
    width: 90%;
  }

  .card-hero {
    margin: 0;
    grid-template: auto auto auto / auto auto auto;
    height: 100vw;
    width: 100vh;
  }
  .card-hero .card-image {
    grid-column: 1 / -1;
    height: 100%;
    width: 100%;
  }

  .card-hero .card-title,
  .card-hero .card-body,
  .card-hero .read-time {
    background-color: #111d4a;
  }
  .card-hero .card-title,
  .card-hero .card-body,
  .card-hero .read-time,
  .card-hero .read-more {
    padding: 2rem;
    grid-column: 3;
    grid-row: 3;
  }
  .card-hero .card-title {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }

  .card-hero .card-body {
  }

  .card-hero .read-time,
  .card-hero .read-more {
  }
} */
/* End Layout */
