h1 {
  font-size: 3rem;
  text-align: center;
  color: white;
}

.pattern {
  background-image: url(../img/circle-blues.png);
  padding: 200px;
}

.image {
  background-image: url(../img/deco.jpg);
  background-size: contain;
  padding: 150px;
}
.image-pos {
  background-image: url(../img/deco.jpg);
  background-size: cover;
  background-position: center right;
  padding: 150px;
}
