* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #2c73d2;
  color: #fff;
  text-align: center;
}

.flex-container {
  border: 10px solid #f9f871;
  width: 80%;
  margin: 0 auto;
  padding: 0.25em;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50vh;
}

.flex-item {
  background: #8bee86;
  margin: 0.5em;
  padding: 0.5em;
  color: #424656;

  width: 200px;
}

.flex-item-1 {
  background: plum;
}

.flex-item-2 {
}

.flex-item-3 {
  margin-top: auto;
  /* margin-bottom: auto; */
}
